.container-register-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 1 1 340px;
    max-width: 300px;
    height: auto;
    min-height: 0;
    padding: 24px;
    background-color: #fff5e6;
    color: black;
    border-radius: 10px;
}